@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap");
* {
 box-sizing:border-box
}
body {
 font-family:Roboto, Arial,Helvetica,sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin:15px 0 0 0;
 font-family:Oswald, Arial,Helvetica,sans-serif
}
h1 {
 color:#3F51B5
}
h2 {
 color:#3fa994
}
h3 {
 color:#757575
}
li {
 margin-bottom:.25em;
 padding-left:0.35em
}
pre,
code {
 text-align:left;
 font-family:"Lucida Console",Monaco,monospace;
 color:#009688;
 background:#F8F8F8
}
a,
a:visited,
a:hover,
a:active {
 color:#212121
}
img {
 vertical-align:inherit
}
blockquote {
 border-left:8px solid;
 padding-left:.5em;
 color:#757575;
 text-align:left;
 margin:1em 0
}
blockquote>p {
 margin:0
}
.remark-code {
 font-size:.9em
}
.remark-container {
 background:#333
}
.remark-slide-scaler {
 box-shadow:none
}
.remark-notes {
 font-size:1.5em
}
.remark-slide-content {
 font-size:28px;
 padding:1em 2em;
 background-size:cover;
 background-color:#eeeeee
}
.remark-slide-number {
 color:darkorange;
 right:1em;
 opacity:.6;
 font-size:0.8em;
 z-index:2
}
.no-counter .remark-slide-number {
 display:none
}
.impact {
 background-color:#3F51B5;
 vertical-align:middle;
 text-align:center
}
.impact,
.impact h1,
.impact h2 {
 color:#fff
}
.impact h1 {
 font-size:128px
}
.full,
.full h1,
.full h2 {
 color:#fff
}
.fulliframe {
 height:calc(66.66667% - 1.2em);
 width:66.66667%;
 transform:scale(1.5);
 transform-origin:0 0;
 border:0
}
.bottom-bar {
 background-color:#3F51B5;
 color:#fff;
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 font-size:20px;
 padding:.8em;
 text-align:left;
 z-index:1
}
.bottom-bar p {
 margin:0
}
.impact .bottom-bar,
.full .bottom-bar {
 display:none
}
.side-layer {
 position:absolute;
 left:0;
 width:100%;
 padding:0 2em
}
.middle,
.middle img,
.middle span {
 vertical-align:middle
}
.top {
 vertical-align:top
}
.bottom {
 vertical-align:bottom
}
.inline-block p,
.inline-block ul,
.inline-block ol,
.inline-block blockquote {
 display:inline-block;
 text-align:left
}
.no-margin,
.no-margin>p,
.no-margin>pre,
.no-margin>ul,
.no-margin>ol {
 margin:0
}
.no-padding {
 padding:0
}
.space-left {
 padding-left:1em
}
.space-right {
 padding-right:1em
}
.responsive>img {
 width:100%;
 height:auto
}
.contain {
 background-size:contain
}
.overlay {
 box-shadow:inset 0 0 0 9999px rgba(0,0,0,0.5)
}
.left {
 text-align:left
}
.right {
 text-align:right
}
.center {
 text-align:center
}
.justify {
 text-align:justify
}
.primary {
 color:#3F51B5
}
.primary-bg {
 background-color:#3F51B5
}
.secondary {
 color:#009688
}
.secondary-bg {
 background-color:#009688
}
.tertiary {
 color:#757575
}
.tertiary-bg {
 background-color:#757575
}
.alt {
 color:#009688
}
.em {
 color:#757575
}
.thin {
 font-weight:200
}
.huge {
 font-size:2em
}
.big {
 font-size:1.5em
}
.small {
 font-size:.8em
}
.strike {
 text-decoration:line-through
}
.dark {
 color:#333
}
.dark-bg {
 background-color:#333
}
.light {
 color:#fff
}
.light-bg {
 background-color:#fff
}
.alt-bg {
 background-color:#009688
}
.row {
 width:100%
}
.row::after {
 content:'';
 display:table;
 clear:both
}
.row.table {
 display:table
}
.row.table [class^="col-"] {
 float:none;
 display:table-cell;
 vertical-align:inherit
}
[class^="col-"] {
 float:left
}
[class^="col-"].inline-block {
 float:none;
 display:inline-block
}
.col-1 {
 width:8.33333%
}
.col-2 {
 width:16.66667%
}
.col-3 {
 width:25%
}
.col-4 {
 width:33.33333%
}
.col-5 {
 width:41.66667%
}
.col-6 {
 width:50%
}
.col-7 {
 width:58.33333%
}
.col-8 {
 width:66.66667%
}
.col-9 {
 width:75%
}
.col-10 {
 width:83.33333%
}
.col-11 {
 width:91.66667%
}
.col-12 {
 width:100%
}
@keyframes fadeIn {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}
.animation-fade {
 animation-duration:300ms;
 animation-fill-mode:both;
 animation-timing-function:ease-out
}
.remark-visible .animation-fade {
 animation-name:fadeIn
}
@page {
/*  size:681px 1210px; */
 margin:0
}
@media print {
 .remark-slide-scaler {
  width:100% !important;
  height:100% !important;
  transform:scale(1) !important;
  top:0 !important;
  left:0 !important
 }
}
pre {
 margin-right:10%;
 margin-top:0.5em;
 margin-bottom:1em
}
.remark-code {
 font-size:.7em
}
pre .bash {
 background-color:#232327 !important;
 color:lightgreen !important
}
.footnote p {
 bottom:0;
 position:absolute
}
.footnote p:before {
 content:"\00BB";
 margin-right:6px;
 color:red
}
li::marker {
 color:#009688;
 content:"\2043"
}
.red {
 color:white;
 background-color:purple;
 padding:5px;
 margin-right:10px;
 padding-left:15px
}
.full-width img {
 width:auto;
 max-width:100%
}
pre,
p {
 font-size:80%
}
